fastapi
numpy
python-multipart
uvicorn
streamlit
pandas
plotly
requests
plotly_express
sklearn
imblearn
json5==0.9.6
jsonschema==4.4.0
shap
matplotlib
streamlit_pandas_profiling
pandas_profiling
streamlit_option_menu
